@use './_functions.scss' as *;

/* ****************************************************************************************************
*                                    px
************************************************************************************************* */

$tabBarHeightPx: 46;
$navBarHeightPx: 34;
$navBarPaddingTopPx: 23;
$navBarFullHeightPx: calc(#{$navBarHeightPx} + #{$navBarPaddingTopPx});

/* ****************************************************************************************************
*                                    rpx
************************************************************************************************* */

$tabBarHeightRpx: #{px2rpx(46)};
$navBarHeightRpx: #{px2rpx(36)};
$navBarPaddingTopRpx: #{px2rpx(23)};
$navBarFullHeightRpx: calc(#{$navBarHeightRpx} + #{$navBarPaddingTopRpx});

/* ****************************************************************************************************
*                                    vmin
************************************************************************************************* */

/** 底部tab bar高度(该高度不包含安全区高度) */
$tabBarHeightVmin: #{px2vmin(46)};
